<div id="card">
  <%# This div would be the image %>
  <div class="bg-gray" style="width: 300px; height: 300px; background-color: gray; border-radius: 12px;"></div>

  <div id="content" class="mt-4" style="display: flex; flex-direction: column; align-items: flex-start;">
    <%# Nombre del housing %>
    <p id="name" style="margin-bottom: 0px; font-weight: 600;"><%= housing.name %></p>

    <%# Nombre de la ciudad %>
    <p id="city" style="margin-bottom: 1px; color: gray;"><%= housing.city %></p>

    <%# Fechas disponibles %>
    <p id="availability" style="margin-bottom: 8px; color: gray;">Oct 23 - 28</p>

    <%# Precio por noche %>
    <div id="pricepernight" class='d-flex align-items-end'>
      <h5 style="margin-bottom: 4px;">$<%= housing.price %></h5>
      <p style="margin-bottom: 4px;">/night</p>
    </div>
  </div>
</div>
