<div class="logo">
	<div class="logo__top"></div>
	<div class="logo__sides"></div>
	<div class="logo__loop">
		<span></span>
		<span></span>
		<span></span>
	</div>
	<div class="logo__corners">
		<span></span>
		<span></span>
	</div>
</div>
