<#h1>Detalles de la reserva</h1>

#<#% if @book %>
 # <#p><strong>Check-in:</strong> <%= @book.check_in %></p>
 # <#p><strong>Check-out:</strong> <%= @book.check_out %></p>
 # <#p><strong>Guests:</strong> <%= @book.guests %></p>
<#% else %>
 # <#p>No se encontró ninguna reserva.</p>
<#% end %>

#
