<div class='mx-4 my-5'>
  <%= link_to "Back to housings", housings_path, class:'text-secondary', style:'text-decoration: none;' %>

  <h1 class='mt-5'>New housing</h1>

  <%= render "form", housing: @housing %>
</div>
