<div class="form-container" style="margin: 96px 30% 128px 30%">
  <h1>Confirmations</h1>
  <% current_user.housings.each do |housing| %>
    <%= link_to housing_path(housing), class:'text-decoration-none' do %>
      <div id="card" style="margin-top: 64px;">
        <%# This div would be the image %>
        <div class="w-100" style='background-image: url("<%= cl_image_path(housing.image.key) %>"); background-size: cover; background-repeat: no-repeat; background-position: center center; height: 250px; border-radius: 10px;'></div>

        <div id="d-flex content" class="mt-4" style="flex-direction: column; align-items: flex-start;">
          <%# Nombre del housing %>
          <h4 class="text-black"><%= housing.name %></h4>

          <%# Nombre de la ciudad %>
          <p id="city" style="margin-bottom: 1px; color: gray;"><%= housing.city %></p>
          <div>
            <%# Fechas disponibles %>
            <p id="availability" style="margin-bottom: 8px; color: gray;">Oct 23 - 28</p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
